[user]
	name = seeriand
	email = andreas.eriksson@elekta.com
[color]
	ui = auto
[core]
	editor = vim 
	excludesfile = ~/.gitignore_global
	trustctime = false
[rebase]
	autosquash = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[alias]
	a = add
	b = branch
	s = status
	l = "!source ~/.githelpers && pretty_git_log"
	la = !git l --all
	r = !git l -15
	ra = !git r --all
	d = diff
	dc = diff --cached
	ci = commit --verbose
	co = checkout
[merge]
	tool = vimdiff
[push]
	default = simple
[include]
	path = /home/andreas/working/tps_dev_env/scripts/gitalias
[diff]
	tool = meld
