snippet reviewrecord "Review Record"

REVIEW RECORD

Review id: esp-review-record-seeriand-`date +%Y&m&d`-1

Revision: $1

Review items:
	branches/Pj119/packages/esp/$0

Reviewers:     Andreas Järliden
Recorder:      Andreas Järliden
Date:          `date +%Y-%m-%d`

Recorder's signature:

endsnippet

